<div class="container">
		<section class="main-section">
			<div class="main-section__wrp">
				<div class="main-section__kids kids">		
					<div class="kids__title">Students</div>
					<ul class="kids__list">
						<li class="kids__item kids__item_active" data-img="/images/regina.png">Some student</li>
						<li class="kids__item" data-img="/images/telka.png">
							Some student
						</li>
					</ul>
				</div>
				<div class="main-section__info info">
					<div class="info__tabs">
						<div class="info__tabs--block info__tabs--block_active" data-tabs="schedule">Student</div>
						<div class="info__tabs--block" data-tabs="calendar">Timetable</div>
						<div class="info__tabs--block" data-tabs="calendar">Homework</div>
					</div>
					<div class="info__content">
						<div class="info__profile profile">
							<div class="profile__img">
								<img src="" alt="" class="profile__pic">
							</div>
							<div class="profile__name">
								Some name
							</div>
							<div class="profile__person-inf person-inf">
								<div class="person-inf__item">
									<span>Years:</span>
									<span>15</span>
								</div>
								<div class="person-inf__item">
									<span>DoB:</span>
									<span>2013</span>
								</div>
								<div class="person-inf__item">
									<span>Great:</span>
									<span>7</span>
								</div>
								<div class="person-inf__item">
									<span>Campus:</span>
									<span>Nivki Primary</span>
								</div>
								<div class="person-inf__item">
									<span>Campus:</span>
									<span>Nivki Primary</span>
								</div>
							</div>
							<div class="profile__stat">
								<a class="levels__item" href="">
									<span class="levels__percent levels__percent_blue">25%</span>
									<span class="levels__text levels__text_blue">
										Some text
									</span>
								</a>
								<a class="levels__item" href="">
									<span class="levels__percent levels__percent_violet">40%</span>
									<span class="levels__text levels__text_violet">
										Some text
									</span>
								</a>
								<a class="levels__item" href="">
									<span class="levels__percent levels__percent_orange">50%</span>
									<span class="levels__text levels__text_orange">
										Some text
									</span>
								</a>
								<a class="levels__item" href="">
									<span class="levels__percent levels__percent_purple">75%</span>
									<span class="levels__text levels__text_purple">
										Some text
									</span>
								</a>
								<a class="levels__item" href="">
									<span class="levels__percent levels__percent_yellow">100%</span>
									<span class="levels__text levels__text_yellow">
										Some text
									</span>
								</a>
							</div>
						</div>
						<div class="info__block">
							<div class="info__block--schedule">Student</div>
							<div class="info__block--calendar">Timetable</div>
							<div class="info__block--calendar">Homework</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>