<section class="section-slider">
	<div class="container">
		<div class="section-slider__wrapper">
			<div class="section-slider__slider">
				<div id="slider" class="slider">
					<div class="slider__wrapper">
						<ul class="list slider__list">
							<li class="slider__item"></li>
							<li class="slider__item"></li>	
							<li class="slider__item"></li>
							<li class="slider__item"></li>
						</ul>
						<div class="slider__text">
							News <span class="slider__text--span">&</span> Activity
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>