@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/pn/Proxima Nova Regular.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/pn/Proxima Nova Bold.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "BebasNeue Regular";
  src: url("../fonts/bebas/BebasNeue Regular.otf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "BebasNeue Bold";
  src: url("../fonts/bebas/BebasNeue Bold.otf");
  font-style: normal;
  font-weight: normal; }

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* body{
		width: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
	}  */
.preloader {
  width: -webkit-calc(100% + 175px);
  width: calc(100% + 175px);
  height: 100vh;
  background-color: #00AEEF;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  will-change: transform; }

.preloader__logo {
  width: 50px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  will-change: transform; }

.preloader__logo.rotating {
  -webkit-animation: rotating 2s infinite;
          animation: rotating 2s infinite; }

.preloader__text {
  margin-left: 5px;
  width: 450px;
  overflow: hidden;
  position: relative; }

.preloader__text::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00AEEF;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  will-change: transform; }

.preloader__text--content {
  width: 450px; }

.preloader.show {
  -webkit-transform: translateX(-85px);
      -ms-transform: translateX(-85px);
          transform: translateX(-85px); }

.preloader.show .preloader__text::after {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.preloader.hidden {
  -webkit-transform: translateX(-webkit-calc(-100% - 175px));
      -ms-transform: translateX(calc(-100% - 175px));
          transform: translateX(calc(-100% - 175px)); }

.header {
  /*     background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); */
  background: url(https://britishschool.ua/wp-content/uploads/2018/02/IMG_7793-1920x400.jpg);
  background-blend-mode: color-dodge;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
  .header__wrp {
    padding: 75px 0 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__top {
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 4px white;
            box-shadow: 0 1px 4px white; }
  .header__logo {
    width: 100px; }
    .header__logo--pic {
      width: 100%;
      height: auto; }
  .header__text {
    margin-left: 50px;
    margin-right: 50px;
    font: 60px "Proxima Nova Bold";
    color: white;
    text-shadow: 3px 5px 6px black; }
  .header__arrow {
    margin-top: 27px;
    margin-left: -15px;
    height: 5px; }

.languages {
  width: 70px;
  height: 60px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .languages__item {
    display: block;
    text-transform: uppercase;
    font-family: "BebasNeue Bold";
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white; }

.langblock.active {
  right: 0;
  -webkit-transition-delay: 0ms;
       -o-transition-delay: 0ms;
          transition-delay: 0ms; }

.langblock {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100vh;
  background-color: white;
  z-index: 1001;
  padding: 50px 94px 20px 94px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  overflow-y: auto;
  -webkit-transition-delay: 500ms;
       -o-transition-delay: 500ms;
          transition-delay: 500ms; }
  .langblock::before {
    content: '';
    background-image: url(../images/pattern.png);
    position: absolute;
    top: 0;
    left: 21px;
    display: block;
    width: 52px;
    height: 100%; }

.langblock.active > :first-child {
  -webkit-transition-delay: 100ms;
       -o-transition-delay: 100ms;
          transition-delay: 100ms; }

.langblock.active > * {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.langblock__close {
  width: 25px;
  height: 25px;
  stroke: #000;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%; }

.langblock > * {
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0; }

.langblock__headline {
  font-family: "BebasNeue Bold";
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 10px;
  margin-left: 10px; }

.langblock__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.langblock__item {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 1%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.langblock__item.active, .langblock__item:hover {
  background-color: #212121; }

.langblock__item.active > span, .langblock__item:hover > span {
  color: white; }

.langblock__item > span {
  color: #212121;
  font-family: "BebasNeue Bold";
  margin-left: 5px; }

.langblock.active > :first-child {
  -webkit-transition-delay: 100ms;
       -o-transition-delay: 100ms;
          transition-delay: 100ms; }

.langblock.active > * {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.langblock > :first-child {
  -webkit-transition-delay: 50ms;
       -o-transition-delay: 50ms;
          transition-delay: 50ms; }

.langblock.active > :nth-child(3) {
  -webkit-transition-delay: 300ms;
       -o-transition-delay: 300ms;
          transition-delay: 300ms; }

.section-slider__slider {
  width: 1360px;
  margin-top: 75px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.35); }

.slider {
  position: relative;
  width: 1360px;
  overflow: hidden;
  height: 570px; }
  .slider__wrapper {
    position: relative;
    width: 1360px;
    height: 570px; }
  .slider__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s; }
  .slider__item {
    width: 1360px;
    height: 570px;
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 300px;
    background-image: url("../img/new2.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center; }
  .slider__text {
    position: absolute;
    font-family: 'Arial Narrow';
    color: white;
    font-size: 75px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-shadow: 3px 5px 6px black;
    text-transform: uppercase; }
    .slider__text--span {
      color: red;
      font-size: 100px; }

.main-section {
  margin-top: 75px;
  margin-bottom: 100px;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border: 1px solid #00AEEF;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .main-section__wrp {
    height: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .main-section__kids {
    width: 20%;
    height: 100%;
    background-color: #00AEEF; }
  .main-section__info {
    width: 80%;
    height: 100%; }

.kids__title {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: "BebasNeue Bold";
  letter-spacing: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(23%, #ffa84c), color-stop(23%, #ffa84c), color-stop(79%, #ff7b0d));
  background: -webkit-linear-gradient(left, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
  background: -o-linear-gradient(left, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
  background: linear-gradient(to right, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }

.kids__list {
  width: 100%; }

.kids__item {
  padding: 10px 0 10px 20px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  font-family: "Proxima Nova Regular";
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
  -webkit-transition: background .4s;
  -o-transition: background .4s;
  transition: background .4s; }
  .kids__item:nth-child(1)::before {
    content: '1.';
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 10px; }
  .kids__item:nth-child(2)::before {
    content: '2.';
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 10px; }
  .kids__item:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(23%, #ffa84c), color-stop(23%, #ffa84c), color-stop(79%, #ff7b0d));
    background: -webkit-linear-gradient(left, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
    background: -o-linear-gradient(left, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
    background: linear-gradient(to right, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
    font-family: "Proxima Nova Bold"; }
  .kids__item_active {
    background: #006489; }

.info__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #20B2AA;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }
  .info__tabs--block {
    padding: 15px;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    color: #fff;
    cursor: pointer;
    font-family: "BebasNeue Bold";
    letter-spacing: 2px; }
    .info__tabs--block:not(:last-child) {
      border-right: 1px solid white; }
    .info__tabs--block:hover {
      background-color: #0094cb;
      -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
              box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }
    .info__tabs--block_active {
      background-color: #0094cb;
      -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
              box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); }

.info__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.info__profile {
  padding-top: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 300px; }

.info__block {
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 auto;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  text-align: center;
  color: #00AEEF;
  font: bold 30px verdana;
  height: 100%; }
  .info__block--schedule {
    height: 100%; }
  .info__block--calendar {
    height: 100%;
    display: none; }

.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #00AEEF;
  background: #006489; }
  .profile__img {
    margin: 0 auto;
    padding-top: 20px;
    width: 125px;
    height: 125px; }
  .profile__pic {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .profile__name {
    color: #fff;
    font-family: "Proxima Nova Regular";
    text-align: center;
    margin-top: 25px; }
  .profile__stat {
    margin: 80px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.person-inf {
  padding-left: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "BebasNeue Bold";
  letter-spacing: 1px; }
  .person-inf__item {
    padding-top: 25px;
    position: relative; }
    .person-inf__item::after {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      background-color: white;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      position: absolute;
      top: 46px; }
    .person-inf__item::before {
      content: '';
      display: block;
      width: 60%;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 48px; }

.levels__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  max-width: 295px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 10px; }
  .levels__item:hover .levels__text, .levels__item:focus .levels__text {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18);
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18); }

.levels__percent {
  font-size: 13px;
  font-weight: 700;
  line-height: 45px;
  position: relative;
  text-align: center;
  z-index: 2;
  width: 55px; }
  .levels__percent::before {
    content: url();
    position: absolute;
    left: -5px;
    top: -6px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18);
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18);
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #ffffff;
    z-index: -1; }
  .levels__percent_blue::before {
    content: url(../images/blue.svg); }
  .levels__percent_violet::before {
    content: url(../images/violet.svg); }
  .levels__percent_orange::before {
    content: url(../images/orange.svg); }
  .levels__percent_purple::before {
    content: url(../images/purple.svg); }
  .levels__percent_yellow::before {
    content: url(../images/yellow.svg); }

.levels__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-left: -28px;
  width: 263px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 19px 0 20px 38px;
  font-family: "Proxima Nova Bold"; }
  .levels__text_blue {
    background: -webkit-linear-gradient(18deg, rgba(9, 101, 172, 0.9), rgba(49, 106, 178, 0.9), rgba(66, 127, 205, 0.9), rgba(66, 127, 205, 0.9));
    background: -o-linear-gradient(18deg, rgba(9, 101, 172, 0.9), rgba(49, 106, 178, 0.9), rgba(66, 127, 205, 0.9), rgba(66, 127, 205, 0.9));
    background: linear-gradient(72deg, rgba(9, 101, 172, 0.9), rgba(49, 106, 178, 0.9), rgba(66, 127, 205, 0.9), rgba(66, 127, 205, 0.9)); }
  .levels__text_violet {
    background: -webkit-linear-gradient(18deg, rgba(135, 77, 186, 0.9), rgba(100, 47, 147, 0.9), rgba(135, 77, 186, 0.9));
    background: -o-linear-gradient(18deg, rgba(135, 77, 186, 0.9), rgba(100, 47, 147, 0.9), rgba(135, 77, 186, 0.9));
    background: linear-gradient(72deg, rgba(135, 77, 186, 0.9), rgba(100, 47, 147, 0.9), rgba(135, 77, 186, 0.9)); }
  .levels__text_orange {
    background: -webkit-linear-gradient(18deg, rgba(241, 90, 36, 0.9), rgba(225, 78, 25, 0.9), rgba(241, 86, 30, 0.9));
    background: -o-linear-gradient(18deg, rgba(241, 90, 36, 0.9), rgba(225, 78, 25, 0.9), rgba(241, 86, 30, 0.9));
    background: linear-gradient(72deg, rgba(241, 90, 36, 0.9), rgba(225, 78, 25, 0.9), rgba(241, 86, 30, 0.9)); }
  .levels__text_purple {
    background: -webkit-linear-gradient(18deg, rgba(181, 45, 136, 0.9), rgba(157, 32, 116, 0.9), rgba(181, 46, 137, 0.9));
    background: -o-linear-gradient(18deg, rgba(181, 45, 136, 0.9), rgba(157, 32, 116, 0.9), rgba(181, 46, 137, 0.9));
    background: linear-gradient(72deg, rgba(181, 45, 136, 0.9), rgba(157, 32, 116, 0.9), rgba(181, 46, 137, 0.9)); }
  .levels__text_yellow {
    background: -webkit-linear-gradient(18deg, rgba(236, 190, 22, 0.9), rgba(223, 179, 21, 0.9), rgba(236, 191, 30, 0.9));
    background: -o-linear-gradient(18deg, rgba(236, 190, 22, 0.9), rgba(223, 179, 21, 0.9), rgba(236, 191, 30, 0.9));
    background: linear-gradient(72deg, rgba(236, 190, 22, 0.9), rgba(223, 179, 21, 0.9), rgba(236, 191, 30, 0.9)); }

.footer {
  height: 100px;
  /* background: linear-gradient(to top, #cfe7fa 0%,#6393c1 100%); */
  background: #2c3e50;
  color: #fff;
  text-align: center;
  font: 20px "Proxima Nova Bold"; }
  .footer__wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__text {
    line-height: 100px;
    text-shadow: 3px 5px 6px black; }
  .footer__social {
    margin-left: 100px; }
  .footer ul.submenu {
    padding: 0 50px 0 50px;
    background: -webkit-gradient(linear, left top, right top, color-stop(23%, #ffa84c), color-stop(23%, #ffa84c), color-stop(79%, #ff7b0d));
    background: -webkit-linear-gradient(left, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
    background: -o-linear-gradient(left, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
    background: linear-gradient(to right, #ffa84c 23%, #ffa84c 23%, #ff7b0d 79%);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    display: inline-block;
    margin: 0;
    overflow: hidden; }
    .footer ul.submenu li {
      display: inline-block; }
      .footer ul.submenu li a i.fab {
        display: inline-block;
        border: 1px solid transparent;
        color: #ccc;
        height: 30px;
        width: 30px;
        -webkit-border-radius: 50px;
                border-radius: 50px;
        margin: 10px;
        text-align: center;
        line-height: 30px;
        position: relative;
        z-index: 2; }
        .footer ul.submenu li a i.fab::after {
          content: "";
          height: 0%;
          width: 0%;
          position: absolute;
          top: -500%;
          bottom: -500%;
          left: -500%;
          right: -500%;
          margin: auto;
          border: 0px solid transparent;
          -webkit-border-radius: 200px;
                  border-radius: 200px;
          opacity: 0;
          z-index: -1;
          -webkit-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s; }
      .footer ul.submenu li a:hover i.fab::before {
        color: #fff; }
      .footer ul.submenu li a:hover i.fa-facebook::after {
        height: 200%;
        width: 200%;
        background-color: #3b5998;
        -webkit-border-radius: 0px;
                border-radius: 0px;
        opacity: 1; }
      .footer ul.submenu li a:hover i.fa-twitter::after {
        height: 200%;
        width: 200%;
        background-color: #1dcaff;
        -webkit-border-radius: 0px;
                border-radius: 0px;
        opacity: 1; }
      .footer ul.submenu li a:hover i.fa-google-plus::after {
        height: 200%;
        width: 200%;
        background-color: #d34836;
        -webkit-border-radius: 0px;
                border-radius: 0px;
        opacity: 1; }
      .footer ul.submenu li a:hover i.fa-instagram::after {
        height: 200%;
        width: 200%;
        background-color: #8a3ab9;
        -webkit-border-radius: 0px;
                border-radius: 0px;
        opacity: 1; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.container {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 420px;
  padding: 0 20px; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: #32312e;
  -webkit-box-shadow: 0px 0px 3px #000 inset;
          box-shadow: 0px 0px 3px #000 inset; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #00AEEF;
  -webkit-box-shadow: 0px 1px 1px #fff inset;
          box-shadow: 0px 1px 1px #fff inset;
  background-image: url("https://yraaa.ru/_pu/24/59610063.png");
  background-position: center;
  background-repeat: no-repeat; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 7px;
  height: 0px; }

::-webkit-scrollbar {
  width: 11px; }
