@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../fonts/pn/Proxima Nova Regular.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Proxima Nova Bold";
	src: url("../fonts/pn/Proxima Nova Bold.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "BebasNeue Regular";
	src: url("../fonts/bebas/BebasNeue Regular.otf");
	font-style: normal;
	font-weight: normal;
}	
@font-face {
	font-family: "BebasNeue Bold";
	src: url("../fonts/bebas/BebasNeue Bold.otf");
	font-style: normal;
	font-weight: normal;
}