.header {
  background-color: grey;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
  .header__wrp {
    padding: 25px 0 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__top {
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
  .header__logo {
    width: 100px; }
    .header__logo--pic {
      width: 100%;
      height: auto; }
  .header__text {
    margin-left: 50px;
    margin-right: 50px;
    font: 60px "Proxima Nova Bold";
    color: white;
    text-shadow: 3px 5px 6px black; }
